<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="sample02.Member" id="m1"/>

    <bean class="sample02.Member" id="m2">
        <constructor-arg value="jang"/> <!--인수 한개 받는 생성자를 호출-->
    </bean>

    <!-- 객체 만들고 매개변수를 주입함 -->
    <bean class="sample02.Member" id="m3">
        <constructor-arg value="jang"/> <!--이 constructor-arg가 두개라고 두번 호출되는게 아니고 얘는 변수의 숫자임 -->
        <constructor-arg value="30" type="int"/> <!-- 인수 2개 받는 생성자가 2갠대 둘중하나는 하나의 인수가 숫자일때 일단 여기서 그냥 써주면 기본은 String으로보고 -->
                                                 <!--String인 생성자에 들어감 근데 type을 넣어주면 그 타입인 애한테 들어감-->
    </bean>

    <bean class="sample02.Member" id="m4">
        <constructor-arg value="제주도" index="2"/>  <!--index는 constructor의 인수(매개변수)의 순서를 바꾸는것이다 시작은 0 부터임-->
        <constructor-arg value="king" index="0"/>
        <constructor-arg value="20" index="1"/>
    </bean>

    <bean class="sample02.Member" id="m5">
        <!--이렇게 프리미티브타입은 주입을 거의안함 거의 객체만함 얘내는 사용하는 사용자가 직접 넣음-->
        <constructor-arg>
            <value>hee</value>
        </constructor-arg>
        <constructor-arg>
            <value>3434</value>
        </constructor-arg>
        <constructor-arg>
            <value>24</value>
        </constructor-arg>
        <constructor-arg>
            <value>대구</value>
        </constructor-arg>
    </bean>

    <!--객체생성-->
    <bean class="sample02.MemberDAO" id="dao"/>

    <!--객체생성하고 dao라는 객체를 주입함-->
    <bean class="sample02.MemberService" id="service">
        <constructor-arg ref="dao"/>
        <constructor-arg ref="m5"/>
    </bean>

</beans>