<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--객체생성-->
    <bean class="sample04.Student" id="student">
        <property name="no" value="10"/> <!--setNo 호출-->
        <property name="addr" value="서울"/> <!--setAddr 호출-->
        <property name="name" value="나영"/> <!--setName 호출-->
        <property name="phone" value="111-2212"/> <!--setPhone 호출-->
    </bean>

    <bean class="sample04.StudentDAOImpl" id="studentDAO"></bean>

    <bean class="sample04.StudentServiceImpl" id="service">
        <property name="studentDAO" ref="studentDAO"/> <!-- setStudentDAO(studentDAO) 호출됨  -->
    </bean>

    <bean class="sample04.StudentController" id="controller">
        <property name="service" ref="service"/> <!--setService(service)호출-->
        <property name="student" ref="student"/> <!--setStudent(student)호출-->
    </bean>

</beans>